@import "tailwindcss";

@theme {
  --color-primary: #d91e46;
  --color-primary-dark: #b01030;
  --color-secondary: #003b95;
  --color-secondary-dark: #002a6b;
  --color-background-light: #f6f8f9;
  --color-background-dark: #051324;
  --color-surface-dark: #0c223d;
  --color-surface-darker: #08192e;
  --color-text-secondary: #9fb3c8;

  --font-display: var(--font-manrope);

  --radius-default: 1rem;
  --radius-lg: 1.5rem;
  --radius-xl: 2rem;
  --radius-2xl: 3rem;
  --radius-full: 9999px;

  --animate-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Material Icons Filled Style */
.material-symbols-outlined.fill-current {
  font-variation-settings: 'FILL' 1;
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}
